.tabs__wrapper {
    display: flex;
    flex-direction: row;
}

.tab__header {
    margin-top: 50px;
    border-right: none;
    height: min-content;
    padding: 0;

    li {
        list-style-type: none;
        margin: 0;
    }
}

.tab__header button {
    border: none;
    background-color: #56777b;
    color: white;
    font-size: 1rem;
    appearance: none;
    padding: 18px;
    width: 150px;
    cursor: pointer;
    letter-spacing: .5px;
    font-family: 'Poppins-Regular';
}

.tab__header button.active {
    background-color: #c76f47;
}

.tab__header button:hover {
    border: none;
    background-color: #c76f47;
}

.tab__panel {
    background-color: #689095;
    margin: 15px 0 0 0;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    list-style: none;

    p {
        color: white;
        margin: 0;
    }

    .role, .company,  .role_2 {
        font-size: 1.3rem;
        display: inline-block;
    }

    .role, .role_2 {
        margin-right: 10px;
        font-family: 'Poppins-Bold';
    }

    .experience, .experience_2 {
        color: white;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
    }

    .experience:before, .experience_2:before {
        content: '▹';
        color: black;
        margin-right: .25em;
        position: absolute;
        left: 0;
    }

    .panel--role_2 {
        margin-top: 30px;
    }
}